<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        @import url("sudoku.css");
    </style>
    <title>Sudoku - Angular Implementation</title>
</head>
<body ng-app="ngSudoku"> <!-- app -->
<div>
    <h2>Angular Sudoku Implementation</h2>
</div>

<div ng-controller="controller">

    <div>
        <input type="text"
               size="81"
               maxLength="81"
               ng-model="model.serialisedForm"
               ng-model-options="{ getterSetter: true }"/>
    </div>

    <div>
        <table ng-table="">
            <tr ng-repeat="row in model.grid">
                <td ng-repeat="cell in row">
                    <input class="input"
                           type="text"
                           size="1"
                           maxlength="1"
                           ng-model="cell.value"
                           ng-class="{ errorCell: !cell.valid }"/>
                </td>
            </tr>
        </table>
    </div>

    <div id="result">
        {{ result }}
    </div>

    <div>
        <button ng-click="reset()">Reset</button>
        <button ng-click="solve()">Solve (15+ hints needed)</button>
    </div>

</div>

<div id="thanks">
    With thanks to <a href="https://attractivechaos.github.io/plb/kudoku.html">The Kudoku Sudoku Solver</a>
</div>

<script src="js/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/model.js"></script>
<script src="../reference/kudoku.js"></script>
</body>
</html>