/* page layout */
body {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: center;
}

div {
    margin: 1em;
}

/* global behaviour */
input {
    text-align: center;
}

button {
    width: 20%;
}

/* specific divs */
#result {
    color: red;
}

#thanks {
    font-size: small;
}

/* suduku grid */
table {
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid;
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-collapse: collapse
}

table tr:nth-child(3n) {
    border-bottom: 1px solid;
}

tr td:nth-child(3n) {
    border-right: 1px solid;
}

td {
    width: 1em;
    height: 1em;
    padding: 0.3em;
}

td input {
    border: 0;
    width: 2em;
    height: 2em;
}

.errorCell {
    background-color: rgba(255, 0, 0, 0.5);
}

